*{
    padding: 0;
    margin: 0;
}

header{
    width: 100vw;
    height: 12vh;
    background-color:   darkblue;
}
footer{
    width: 100vw;
    height: 12vh;
    background-color:   darkblue;
}

main{
    display: flex;
}

section{
    width: 7vw;
    height: 76vh;
    background-color:   aqua;
}

div{
    height: 76vh;
    width: 86vw;
    background-color: pink;
}
